header {
	position: relative;
	top: 0;
	left: 0;
	height: 150px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
}

.nav {
	position: relative;
    padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px var(--accent) solid;
	border-radius: 10px;
}

.navOn {
	animation: onLoad 2s ease-out;
}

.navOff {
	animation: offLoad 2s ease-out;
}

.navCont {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navCont > ul {
	--gapSize: 35px;
    font-size: 20px;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding-left: var(--gapSize);
    padding-right: calc(var(--gapSize) - 30px);
	gap: var(--gapSize);
}

nav ul > li {
	text-decoration: none;
	list-style-type: none;
}

.logoFullHori img {
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
}

.logoFullHori {
	height: 47px;
	width: 164px;
	margin-left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav a {
	text-decoration: none;
	color: var(--text) !important;
}

@keyframes onLoad {
	from {
		bottom: 10em;
	}
	to {
		bottom: 0em;
	}
}

@keyframes offLoad {
	from {
		bottom: 0em;
	}
	to {
		bottom: 10em;
	}
}